#body {
    background-color: cornsilk;
}

#header {
    font-size: 75px;
    text-align: center;
    padding-top: 5%;
}

#caption {
   font-size: 25px;
   text-align: center;
   border-top: 2%;
}

.text {
    color: maroon;
}
h3 {
    text-align: center;
    padding-top: 2%;
    color: maroon;
}
.addWineForm {
    text-align: center;
padding-bottom: 2%;
  opacity: 100;
}

.addWine:hover {
    color: black;
    font-size: 150%;
}
.submits{
    margin-bottom: 1%;
}
.hidden{
    display: none;
}